@charset "UTF-8";
/* CSS Document */

/* prototype styles */
body { 
	background-color: #111;
	padding: 40px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1.25em;
}

.table_header { 
	background-color: #333;
	color: #999;
	padding: 15px;
	margin: auto;
	width: 75%;
}

.table_row {
	border-bottom: 1px solid #333;
	padding: 15px;
	color: white;
	margin: auto;
	width: 75%;
	vertical-align: middle;
}

.bottom_row { padding-bottom: 40px; }

.svg_auth {
	max-width: 12px;
	vertical-align:bottom;
	margin-right: 10px;
	margin-left: 5px;
	
}

.svg_replication {
	max-width: 20px;
	vertical-align:bottom;
	margin-right: 10px;
}

.disabled { opacity: .5; }


/* toggle */
.onoffswitch {
    position: relative; width: 100px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid none; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Enabled";
    padding-left: 10px;
    background-color: #009900; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Disabled";
    padding-right: 10px;
    background-color: #777777; color: ;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 2px solid none; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}