@charset "UTF-8";
/* CSS Document */

/* prototype styles */
body { 
	background-color: #111;
	padding: 10px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 1em;
	color: #fff;
}

#title {
	font-size: 2em;
	padding: 20px 0;
	width: auto;
	float: left;
}

/* table */
#table_header { 
	background-color: #333;
	color: #999;
	margin: auto;
	text-align: left;
	cursor: pointer;
}

#replication {
	color: white;
	margin: auto;
	text-align: left;
}

.table_row { 
	border-bottom: 1px solid #333;
}

.icon {
	display: inline-block;
	padding: 0 10px 0 0;
}


.svg_auth {
	max-width: 12px;
	vertical-align:bottom;
	margin-right: 10px;
	margin-left: 5px;
	
}

.svg_replication {
	max-width: 20px;
	vertical-align:bottom;
	margin-right: 10px;
}

.disabled { opacity: .5; }

.sm_txt {
	opacity: .5;
	font-size: .75em;
}

.hide {
	display: none;
}
